{
  "presets": [
    [
      "@babel/env",
      {
        "targets": { "node": "20" }
      }
    ],
    "@babel/typescript"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-transform-class-properties",
    "add-import-extension"
  ]
}
