{
  "presets": [
    [
      "@babel/env",
      {
        "targets": { "node": "20" },
        "modules": false
      }
    ],
    "@babel/typescript"
  ],
  "plugins": [
    "add-import-extension",
    ["@babel/plugin-syntax-decorators", { "decoratorsBeforeExport": true }]
  ]
}
