{
  "singleQuote": true,

  "overrides": [
    {
      "files": "view/**/*.{ts,tsx}",
      "options": {
        "printWidth": 80
      }
    },
    {
      "files": "src/**/*.ts",
      "options": {
        "printWidth": 90
      }
    }
  ]
}
