@import './fonts.css';

:root {
  scrollbar-color: #6b6b6b #2c2c2c;
  transition: scrollbar-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  touch-action: pan-x pan-y;
  height: 100%;

  @media (prefers-color-scheme: light) {
    scrollbar-color: #d1d1d1 #f0f0f0;
  }
}

body,
html {
  overscroll-behavior: none;
  -webkit-touch-callout: none;
  margin: 0;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

/* Set background and text color for autocomplete fields in Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-internal-autofill-selected {
  -webkit-box-shadow: 0 0 0 20px #303643 inset !important;
  -webkit-text-fill-color: #e4e6ea !important;
  color-scheme: dark;

  @media (prefers-color-scheme: light) {
    -webkit-box-shadow: 0 0 0 20px #e9f0fd inset !important;
    -webkit-text-fill-color: #242526 !important;
    color-scheme: light;
  }
}

::selection {
  background-color: #5868cb;
  color: white;
}

::-moz-selection {
  background: #5868cb;
  color: white;
}
